.header{
    height: 400px;
    text-align: center;
    background-image: url(../images/donation1.jpg);
    background-size: cover;
}
.header-container{
    padding: 70px;
    
}
.header-title{
    color: white;
    padding: 5px 0px;
    font-size: 40px;
}
.header-description{
    color: white;
    margin-top: 5px;
    font-size: 15px;
}
.btn-primary{
    background-color: orangered;
    border: none;
    padding: 10px 20px;
    color: white;
}
.donate-section{
    text-align: center;
}


.amount-title{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;

}
.amount-box{
    background-color: rgb(218, 196, 169);
    padding: 15px 15px;
    width: 40px;

}
.amount-box:hover{
    background-color: rgb(222, 135, 135);
    border: 2px solid red;
    cursor: pointer;
}

.other-amount{
    text-align: center;
    margin-top: 30px;
}
.hr-underline{
    width: 400px;
    margin-bottom: 15px;
}
.plan-header{
    text-align: center;
}
.plan-header-description{
    text-align: center;
}
.plan-container{
    display: flex;
}
.plan-A{
    background: gray;
    text-align: left;
    padding: 50px 20px;
    margin: 20px 70px;
}
.plan-B{
    background: peachpuff;
    text-align: left;
    padding: 50px 20px;
    margin: 20px;
}
.plan-C{
    background: palevioletred;
    text-align: left;
    padding: 50px 20px;
    margin: 20px 70px;
}
.plan-title{
    font-size: 20px;
}
.your-donation{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.your-donation-dn{
    
}
.need-servive{
    display: flex;
}
.servive-container{
    
}
.get-me{
    text-align: center;
}
.subscribe{
    text-align: center;
}
.footer{
    text-align: center;
}